:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}

a {
  font-weight: 500;
  color: #4da6ff;
  text-decoration: inherit;
}
a:hover {
  color: #7fbfff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
}
